<div class="div-form">
    <form action="" id="formulario" [formGroup]="formPersonas">

        <div class="col-atras">
            <a routerLink="/lista_persona"><img src="assets/back.png"></a>
        </div>

        <div class="row row-titulo">
            <h2 *ngIf="router.url !== '/anadir'">Editar Usuario</h2>
            <h2 *ngIf="router.url === '/anadir'">Añadir Usuario</h2>
        </div>

        <div class="row" *ngIf="router.url !== '/anadir'">
            <div class="col col-label">
                <label for="id">Id:</label>
            </div>
            <div class="col col-input">
                <input type="number" id="id" class="input input-text" name="id" readonly formControlName="id">
            </div>
        </div>

        <div class="row">
            <div class="col col-label">
                <label for="user">Usuario:</label>
            </div>
            <div class="col col-input">
                <input type="text" id="user" class="input input-text" name="user" formControlName="user">
            </div>
        </div>

        <div class="row">
            <div class="col col-label">
                <label for="password">Contraseña:</label>
            </div>
            <div class="col col-input">    
                <input type="password" id="password" class="input input-text" name="password" formControlName="password">
            </div>
        </div>
            
        <div class="row">
            <div class="col col-label">        
                <label for="surname">Nombre:</label>
            </div>
            <div class="col col-input">    
                <input type="text" id="surname" class="input input-text" name="surname" formControlName="surname">
            </div>
        </div>

        <div class="row">
            <div class="col col-label">       
                <label for="company_email">Email Compañia:</label>
            </div>
            <div class="col col-input">    
                <input type="text" id="company_email" class="input input-text" name="company_email" formControlName="company_email">
            </div>
        </div>

        <div class="row">
            <div class="col col-label">       
                <label for="personal_email">Email Personal:</label>
            </div>
            <div class="col col-input">    
                <input type="text" id="personal_email" class="input input-text" name="personal_email" formControlName="personal_email">
            </div>
        </div>

        <div class="row">
            <div class="col col-label">        
                <label for="city">Ciudad:</label>
            </div>
            <div class="col col-input">    
                <input type="text" id="city" class="input input-text" name="city" formControlName="city">
            </div>
        </div>

        <div class="row">
            <div class="col col-label">        
                <label for="created_date">Fecha Nacimiento:</label>
            </div>
            <div class="col col-input">    
                <input type="date" id="created_date" class="input input-text" name="birthdate" formControlName="birthdate">
            </div>
        </div>

        <div class="row row-botones" *ngIf="router.url !== '/anadir'">
            <div class="col col-botones">        
                <a (click)="guardarPersona()" class="boton">Guardar</a>
            </div>
            <div class="col col-botones">    
                <a (click)="openDialog()" class="boton">Borrar</a>
            </div>
        </div>

        <div class="row row-botones" *ngIf="router.url === '/anadir'">
            <div class="col col-botones">        
                <a (click)="anadirPersona()" class="boton">Añadir</a>
            </div>
            <div class="col col-botones">    
                <a (click)="vaciarFormulario()" class="boton">Vaciar</a>
            </div>
        </div>

    </form>
</div>  