@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

form{
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 2%;
}


.boton {
    
    cursor: pointer;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.45em 1em;
    letter-spacing: 0.05rem;
    margin: 1em;
    width: 6rem;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
  }
  
.boton:hover{
  background-color: #394555;
  color: white;
}

.boton:active {
	position:relative;
	top:1px;
}

label{
	color: white;
	font-weight: bold;
}


.div-form{
    background-color: #5582bd;
    border-radius: 5px;
    align-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    padding-top: 0.2%;
    padding-bottom: 2%;
}

.row{
    width: 100%;
    height: 3rem;
    display: inline-flex;
    overflow: hidden;
    flex-flow: row wrap;
}
.row-botones{
    display: flex;
    justify-content: center;
    padding-left: 3rem;
}

.row-titulo{
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 5%;
    margin-left: 3rem;
}

.col-label{
    width: 20%;
}

.col-input{
    width: 70%;
}

.col-botones{
    padding-top: 1rem;
    margin: 2px;
}


.input{
    
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        border: 2px solid #265ba0;
        border-radius: 5px;
        text-align: center;
        outline: transparent;
}

.input-text{
        width: 100%;
}

.col-atras{
    justify-content: center;
    float: left;
}
